h2 {
    margin: 10px;
}

.list-item {
    padding: 10px;
}

#map {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 230px;
    left: 230px;
}

#list-selected {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    width: 230px;
    overflow-y: auto;
    font-family:'Courier New', Courier, monospace;
}

#list-all {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    width: 230px;
    overflow-y: auto;
    font-family:'Courier New', Courier, monospace;
}